
@import 'config';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: $primary-color;
    font-family: $font;
}

p {
    color: $p_color;
    font-size: 0.75rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

h1 {
    color: $primary-color;
    text-transform: uppercase;
    font-family: $h1_font;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.btn {
    border: 0.1rem solid $primary-color;
    border-radius: 4rem;
    background: $primary-color;
    padding: 0.5rem 1.1rem;
    cursor: pointer;

    &:hover {
        background: inherit;
        color: $primary-color;
    }
}

.btn-card1 { color: $card1; }
.btn-card2 { color: $card2; }
.btn-card3 { color: $card3; }

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    width: 100vw;
    height: 100vh;

    img {
        width: 3.1rem;
        height: 1.8rem;
        margin-bottom: 1.2rem;
    }


    .sedan {
        width: 15rem;
        height: 22rem;
        padding: 1.5rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        background: $card1;
    }

    .suvs {
        width: 15rem;
        height: 22rem;
        padding: 1.5rem;
        background: $card2;
    }

    .luxury {
        width: 15rem;
        height: 22rem;
        padding: 1.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background: $card3;

        p {
            margin-bottom: 4.1rem;
        }
    }
}

@media only screen and (max-width: 23.8rem) {
    .container {
        grid-auto-flow: row;
        margin-top: 3rem;
        margin-bottom: 2rem;
        width: 100%;
        height: auto;

        .sedan, .luxury {
            border-radius: 0;
        }
    }


}